:root {
  --color-blue: #C4DAE8;
  --color-butter: #FEEFB8;
  --color-chocopie: #432F2E;

  --primary-color: var(--color-chocopie);
  --bg-color: var(--color-blue);
  --text-color: var(--color-chocopie);
  --header-bg: var(--color-butter);
  --card-bg: #ffffff;
  --base-spacing: 16px;
  --border-radius: 12px;

  --font-family-base: "Alata", sans-serif;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-heading: 24px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}